<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../static/bower_components/jquery/dist/jquery.js"></script>
    <script>
        $(function(){
            

        });
        // $('ul').append('<li>c</li>')
        //$('#list2>li:first-child').appendTo($('#list1'))
        //jQuery的append,类似于js的innerhtml(),用法类似 
    
    </script>
</head>
<body>
    <ul>
        <li>a</li>
    </ul>
</body>
</html>